body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    transition: background-color 0.7s, color 0.7s;
}
button{
    font-size: 20px;
    float: right;
    display: flex;
    
}
.dark-theme {
    background-color: black;
    color: white;
    
}

.dark-theme .my-table {
    border: 2px solid white;
    border-collapse: collapse;

}

.dark-theme .my-table th,
.dark-theme .my-table td {
    border: 2px solid white;
    border-collapse: collapse;
}

p{
    font-size: 24px; 
    text-align: center
}

#Password_Checker_Description{
    font-style: bold;
    
}

div{
    text-align: center;
}

.my-table{
    border: 2px solid #000;
    margin: 0 auto;
    width: 450px;
    border-collapse: collapse;
}


.my-table th,
.my-table td {
    border: 2px solid #000;
    padding: 6px;
}

.my-table tr {
    text-align: center;
}

