p{
    font-size: 24px; 
    text-align: center
}

div{
    text-align: center;
}

ul{
    text-align: center; 
    list-style-type:none; 
    font-size:25px
}

summary{
    font-size: 28px; 
    text-align: center;
}