body{
    background-color: white;
    color: black;
    transition: background-color 0.7s, color 0.7s;
}

.dark-theme {
    background-color: black;
    color: white;
}

p{
    font-size: 24px; 
    text-align: center
}

div{
    text-align: center;
}

ul{
    text-align: center; 
    list-style-type:none; 
    font-size:25px
}

summary{
    font-size: 28px; 
    text-align: center;
}